# Dependencies
node_modules/
frontend/node_modules/

# Python bytecode
__pycache__/
*.pyc

# Python virtualenv
medication-service/venv/

# Local artifacts
frontend/query

# Local images
mobile_app/flutter_02.png
# OS files
.DS_Store
